body {
    font-family: 'Tahoma', sans-serif;
    background-color: #e8f0fe;
    color: #333;
}

header {
    background-color: #4285f4;
    color: white;
    padding: 20px;
}
.logo {
    width: 70px; /* Adjust size */
    height: manual;
    margin-bottom: 1m;
}

h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

footer {
    margin-top: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #4285f4;
    font-weight: bold;
}
